@{
	ViewData["Title"] = "Home Page";
	int? newGroupId = TempData["idGroup"] as int?;
}

<h2>Crear Grupo</h2>
<div id="liveAlertPlaceholder"></div>
@if (ViewData["Mensaje"] != null)
{

	<div class="form-group">
		<div class="alert alert-danger" role="alert">
			@ViewData["Mensaje"]
		</div>
	</div>
}
<form asp-controller="Group" asp-action="createGroup" method="post">
	<div class="form-group">
		<label asp="name">Nombre del Grupo:</label>
		<input name="name" id="name" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Crear Grupo</button>
	<br />
</form>
@if (Model != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Código</th>
				<th>Name Grupo</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var group in Model)
			{
				<tr>
					<td>@group.Id</td>
					<td>@group.Name</td>
					<td>
						@Html.ActionLink("Eliminar", "deleteGroup", new { id = group.Id }, new { @class = "btn btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No hay datos para mostrar.</p>
}

@if (newGroupId.HasValue)
{
	<script>
		var alertDiv = document.createElement("div");
		alertDiv.classList.add("alert", "alert-success");
		alertDiv.textContent = "La operación con ID " + @newGroupId.Value + " fue ejecutada exitosamente.";
		var placeholderDiv = document.getElementById("liveAlertPlaceholder");
		placeholderDiv.appendChild(alertDiv);
		setTimeout(function () {
			alertDiv.classList.add("fade");
			setTimeout(function () {
				alertDiv.remove();
			}, 1000);
		}, 5000);
	</script>
}